/* CONTACT section */
.contact {
    background-color: rgb(53,129,159);
}
.contact-text {
    padding-bottom: 50px;
    line-height: 2;
    text-align: center;
}

/*  アイコンリスト  */
.contact-icon {
    padding: 20px 0;
}
.icon-items {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.icon-items li {
    margin: 0 20px;
}

/* アイコン */
.icon-items .far, .fab {
    padding: 20px;
    font-size: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: .5s;
}

/*  アイコンhover時に色が変わる  */
.icon-items .far:hover, .fab:hover {
    font-size: 40px;
    opacity: 0.8;
    color: rgb(53,129,159);
    background-color: #fff;
}
/* CONTACT section */


/* Responsive for  */

@media screen and (max-width: 480px) {
    .contact-content {
        width: 90%;
        margin: 0 auto;
    }
    /* アイコン */
    .icon-items .far, .fab {
        padding: 15px;
        font-size: 2em;
        pointer-events: none;
    }


}