/* skill */
.skill {
    width: 100%;
    height: auto;
}
.skill-inner {
    background-color: rgb(53,129,159);
    padding-bottom: 120px;
}
.skill-subtitle {
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    margin-top: -60px;
    padding-bottom: 60px;
}

/*  Skill ボックス  */
.skill-box {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    background-color: #F8F9FA;
    border-radius: 10px;
}
.skill-item {
    border-radius: 5px;
    padding: 30px 0;
    transition: .5s;
}
.skill-item:hover {
    cursor: pointer;
    transform: scale(1.15,1.15);
}
.skill-item-img {
    width: 50px;
    height: 50px;
}
.skill-name {
    padding-top: 20px;
    overflow-wrap: normal;
    font-weight: bold;
}
/* skill */

/* Responsive for  */

@media screen and (max-width: 480px) {
    .skill-inner {
        padding-bottom: 80px;
    }
    .skill-subtitle {
        width: 80%;
        margin: 0 auto;
        font-size: 16px;
        padding-top: 10px;
        margin-top: -50px;
        padding-bottom: 60px;
    }

    /*  Skill ボックス  */
    .skill {
        width: 100%;
        height: auto;
    }
    .skill-box {
        grid-template-columns: repeat(4, 1fr);
    }
    .skill-item {
        pointer-events: none;
    }
    .skill-item-img {
        width: 35px;
        height: 35px;
    }
    .skill-name {
        font-size: 12px;
    }
}